.grid-container {
  /* display: inline-block; */
  display: flex;
  flex-direction:row ;
  align-items: center;
}

#title_logo {
  width: 15%;
} 

#lista > li {
  display: inline;
  margin-right: 15px;
  text-align:right;
}