@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:link {
  text-decoration: none;
  color: whitesmoke;
}

body{
  background-image: url(../img/heartRate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#nav {
  background-color: rgba(63, 63, 63, 0.548);
  position: fixed;
  top: 0;
  padding: 5px;
}

#title_logo {
  margin-left: 15px;
  width: 10%;
  float: left;
}

#lista {
  float: right;
  margin: 0.2%;
}

#lista > li {
  display: inline;
  margin-right: 35px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: whitesmoke;
}

#lista > li > a {
  font-size: 1em;
  margin: 0;
  text-align: center;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}

#lista > li > a:hover {
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

#mainIMG {
  max-width: 100%;
  /* width: 100vw; */
}

.text {
  width: 750px;
  margin: 100px auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2em;
}

#script > h1 {
  color: rgb(255, 255, 255);
  font-size: 2.8em;
}

#script{
  background:rgba(151, 151, 151, 0.527);
  border-radius: 6px;
}

#result{
  list-style-type: none;
}

#enviar{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

#answer{
  color: whitesmoke;
  margin: 25px 0px 25px 0px;
}

#listAnswer{
    list-style-type: none;
}

@media (min-width: 700px) and (max-width: 1000px) {
  *{
    font-size: 92%;
  }

  #lista > li {
    display: inline;
    margin-right: 35px;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    color: whitesmoke;
  }
}

@media (max-width: 699px) {
  *{
    font-size: 85%;
  }

  #lista > li {
    display: inline;
    margin-right: 35px;
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    color: whitesmoke;
  }
}